<!DOCTYPE html>
<html>
<body>
	<form action="" method="post">
		<div>
			<label for="firstName">First Name:</label>
			<input type="text" name="firstName" id="firstName" />
		</div>
		<div>
			<label for="lastName">Last Name:</label>
			<input type="text" name="lastName" id="lastName" />
		</div>
		<div>
			<label for="pto">PTO:</label>
			<input type="number" name="pto" id="pto" />
		</div>
		<div>
			<label for="position">Position:</label>
			<select name="position" id="position">
				<option value="CEO">CEO</option>
				<option value="CTO">CTO</option>
				<option value="COO">COO</option>
				<option value="WorkerBee">Worker Bee</option>
			</select>
		</div>
		<div>
			<label for="startDate">Start Date:</label>
			<input type="date" name="startDate" id="startDate" />
		</div>
		<button type="submit">Add</button>
	</form>
</body>
</html>